*{
    margin: 0px;
    padding: 0px;
}

body {
    /* background-color: #F3F3E0; */
    background-color: #22A39F;
    display: flex;
    flex-direction: column;
}

header {
    background-color:#F3F3E0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 8px rgb(50, 51, 51);
}

#navBar {
    display: flex;
    justify-content: space-around;
    gap: 70px;
}

button {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 12px;
    background-color: #22A39F;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 4px rgb(54, 52, 52);
}

#content {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.header {
    font-weight: bold;
    font-size: 30px;
}

.hmImg {
    height: 500px;
    width: 900px;
    border-radius: 15px;
}

.promoText {
    white-space: pre-line;
    font-size: 25px;
    width: 900px;
    text-align: center;

}

.promoText::first-line {
  font-weight: bold;
  font-size: 1.3em;
  color: #021624;   
}

.munHdDiv, .abthdDiv{
    font-weight: bold;
    font-size: 45px;
}

.list {
    white-space: pre-line;
    font-size: 20px;
}

.title {
    font-weight: bold;
    font-size: 25px;
}

.textDiv {
    white-space: pre-line;
    width: 1700px;
    font-size: 25px;
    text-align: center;
}

.textDiv::first-line {
    font-weight: bold;
    font-size: 30px;
}