*{
    margin: 0px;
    padding: 0px;
}

body {
    /* background-color: #F3F3E0; */
    background-color: #22A39F;
    display: flex;
    flex-direction: column;
}

header {
    background-color:#F3F3E0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 8px rgb(50, 51, 51);
}
#navBar {
    display: flex;
    justify-content: space-around;
    gap: 70px;
}
button {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 12px;
    background-color: #22A39F;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 4px rgb(54, 52, 52);
}

